{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">  
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
  </head>
  <body>
    <header>
        <h1 class="title">TODO</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %} 
    </main>
  </body>
</html>
