{% extends "todo/base.html" %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {{ field }}
        {% endfor %}
        <button type="submit">
            <div class="plus"></div>
        </button>
    </form>
    <article class="todo-list">
        {% for todo in todo_list %}
            <section class="todo">
                <div class="todo__text" tabindex="0">
                    {{ todo.todo_text }}
                </div>
                <div class="todo_check"></div>
                <div class="todo_delete"></div>
            </section>
        {% endfor %}
    </article>
{% endblock %}        
