{% extends "todo/base.html" %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {{ field }}
        {% endfor %}
        <button type="submit">
            <div class="plus"></div>
        </button>
    </form>
    <article class="todo-list">
        {% for todo, todo_form in todo_list %}
            <section class="todo">
                <a href="{% url 'todo:todo_done' todo.pk %}" class="todo__check {% if todo.todo_done %}todo__check--checked{% endif %}"></a>
                <form action="" method="post" class="todo__text {% if todo.todo_done %}todo__text--checked{% endif %}">
                  {% csrf_token %}
                  {% for field in todo_form.visible_fields %}
                  {{ field }}
                  {% endfor %}
                </form>
                <a href="{% url 'todo:todo_delete' todo.pk %}" class="todo__delete plus"></a>
            </section>
        {% endfor %}
    </article>

{% endblock %}        
